In [1]:
import numpy as np
import pandas as pd
import pycountry_convert as pc
from confidence_interval import confidence_interval as ci

In [2]:
RL_re = pd.read_csv("RL_re_complete.csv", delimiter=';') #("RL_re_february.csv") #("RL_re_december.csv") #("RL_re_complete.csv", delimiter=';')
RL_unemp = pd.read_csv("RL_unemp_complete.csv", delimiter=';') #("RL_unemp_february.csv") #("RL_unemp_complete.csv", delimiter=';')#("RL_unemp_december.csv")

data_swissre = pd.read_csv('data/final_data.csv', parse_dates=['date']).set_index('date')
data_swissre_economic = pd.read_csv('./data/economic_weighted.csv', parse_dates=['date']).set_index('date')

/Users/francescoposa/opt/anaconda3/envs/personal/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (70,71,72,73,74,75,76,77,78) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
iso_codes_economic = ['AUT','BEL', 'BGR', 'HRV', 'CYP', 'CZE', 'DNK', 'EST', 'FIN', 'FRA', 'DEU', 'GRC', 'HUN', 'IRL', 'ITA', 'LVA', 'LTU', 'LUX', 'MLT', 'NLD', 'PRT', 'ROU', 'SVK', 'SVN', 'ESP', 'SWE', 'GBR', 'CHE', 'NOR']

In [4]:
data_swissre = data_swissre[data_swissre.iso_code.isin(iso_codes_economic)]
data_swissre_economic = data_swissre_economic[data_swissre_economic.iso_code.isin(iso_codes_economic)]

In [5]:
starting_date = '2021-04-11' # '2020-12-06' #'31-01-2021' #'2021-04-11'#2020-12-06' 
ending_date = '2021-05-09' # '2021-01-03' #28-02-2021' #'2021-05-09'#2021-01-03'

In [6]:
initial_re = data_swissre[data_swissre.index == starting_date][['iso_code', 'epiforecasts_effective_reproduction_number_median']].rename(columns={'epiforecasts_effective_reproduction_number_median' : 'initial_re'})
initial_re

           iso_code  initial_re
date
2021-04-11      AUT    0.954277
2021-04-11      BEL    0.963967
2021-04-11      BGR    0.827386
2021-04-11      CHE    1.010153
2021-04-11      CYP    1.159194
2021-04-11      CZE    0.869106
2021-04-11      DEU    1.030688
2021-04-11      DNK    1.066698
2021-04-11      ESP    1.010814
2021-04-11      EST    0.866170
2021-04-11      FIN    0.871332
2021-04-11      FRA    0.890037
2021-04-11      GBR    0.914742
2021-04-11      GRC    0.926932
2021-04-11      HRV    1.024096
2021-04-11      HUN    0.790926
2021-04-11      IRL    1.003397
2021-04-11      ITA    0.967820
2021-04-11      LTU    1.044375
2021-04-11      LUX    0.957168
2021-04-11      LVA    1.047363
2021-04-11      MLT    0.854622
2021-04-11      NLD    1.106107
2021-04-11      NOR    0.939655
2021-04-11      PRT    0.962790
2021-04-11      ROU    0.811603
2021-04-11      SVK    0.882537
2021-04-11      SVN    0.888028
2021-04-11      SWE    0.980985

In [7]:
true_final_re = data_swissre[data_swissre.index == ending_date][['iso_code', 'epiforecasts_effective_reproduction_number_median']].rename(columns={'epiforecasts_effective_reproduction_number_median' : 'true_final_re'})
true_final_re

           iso_code  true_final_re
date
2021-05-09      AUT       0.785001
2021-05-09      BEL       0.950694
2021-05-09      BGR       0.796594
2021-05-09      CHE       0.904996
2021-05-09      CYP       0.632863
2021-05-09      CZE       0.790386
2021-05-09      DEU       0.794601
2021-05-09      DNK       1.041045
2021-05-09      ESP       0.913277
2021-05-09      EST       0.845157
2021-05-09      FIN       0.942125
2021-05-09      FRA       0.927637
2021-05-09      GBR       1.047605
2021-05-09      GRC       1.004365
2021-05-09      HRV       0.713174
2021-05-09      HUN       0.772392
2021-05-09      IRL       0.987128
2021-05-09      ITA       0.798042
2021-05-09      LTU       0.875269
2021-05-09      LUX       0.847586
2021-05-09      LVA       0.901366
2021-05-09      MLT       0.730721
2021-05-09      NLD       0.775415
2021-05-09      NOR       0.954961
2021-05-09      PRT       1.023604
2021-05-09      ROU       0.770326
2021-05-09      SVK       0.832697
2021-05-09      SVN       0.805417
2021-05-09      SWE       0.843105

In [8]:
RL_re = RL_re[['iso_code', 'final_re']]
RL_re

   iso_code  final_re
0       AUT  0.352008
1       BEL  0.901630
2       BGR  0.798175
3       HRV  0.537384
4       CYP  0.439632
5       CZE  0.651133
6       DNK  0.737046
7       EST  0.280211
8       FIN  0.682652
9       FRA  0.974599
10      DEU  0.967179
11      GRC  0.853914
12      HUN  0.775737
13      IRL  0.703376
14      ITA  0.603100
15      LVA  0.689355
16      LUX  0.377785
17      MLT  0.835747
18      NLD  0.664825
19      PRT  0.448996
20      ROU  0.546190
21      SVK  0.813611
22      SVN  0.362425
23      ESP  0.810902
24      SWE  0.609762
25      GBR  0.935308
26      CHE  0.713187
27      NOR  0.365607
28      LTU  0.455240

In [9]:
RL_re_merged = initial_re.merge(true_final_re, on='iso_code').merge(RL_re, on='iso_code')
RL_re_merged['difference_re'] = RL_re_merged['true_final_re'] - RL_re_merged['final_re']

In [11]:
ci((RL_re_merged['initial_re'] - RL_re_merged['true_final_re']).values)

(0.09018679089170502, 0.04092320340048582, 0.1394503783829242)

In [20]:
# february: -0.099
# december: 0.083
# april: 0.09

np.array([-0.099, 0.083, 0.09]).mean().round(3)

0.025

In [11]:
# february: 0.194
# december: 0.255
# april: 0.301

(RL_re_merged['initial_re'] - RL_re_merged['final_re']).mean().round(3)

0.301

In [21]:
np.array([0.194, 0.255, 0.301]).mean().round(3)

0.25

In [14]:
RL_re_merged = RL_re_merged[['iso_code', 'initial_re', 'difference_re']].round(3)

## Economic

In [12]:
initial_uer = data_swissre_economic[data_swissre_economic.index == starting_date][['iso_code', 'unemployment_rate_idx']].rename(columns={'unemployment_rate_idx' : 'initial_uer'})
initial_uer

           iso_code  initial_uer
date
2021-04-11      AUT     1.717033
2021-04-11      BEL     3.749121
2021-04-11      BGR     6.642198
2021-04-11      CHE     1.781868
2021-04-11      CYP     1.726593
2021-04-11      CZE     1.473626
2021-04-11      DEU     1.276703
2021-04-11      DNK     1.501538
2021-04-11      ESP     3.207253
2021-04-11      EST     6.936703
2021-04-11      FIN     3.174615
2021-04-11      FRA     2.223736
2021-04-11      GBR     3.700659
2021-04-11      GRC     4.177802
2021-04-11      HRV     2.050989
2021-04-11      HUN     1.687143
2021-04-11      IRL     4.637473
2021-04-11      ITA     3.595824
2021-04-11      LTU     5.558462
2021-04-11      LUX     1.014286
2021-04-11      LVA     5.016044
2021-04-11      MLT     1.788132
2021-04-11      NLD     3.009011
2021-04-11      NOR     0.589451
2021-04-11      PRT     1.780769
2021-04-11      ROU     1.593077
2021-04-11      SVK     6.633626
2021-04-11      SVN     2.517363
2021-04-11      SWE     2.495604

In [13]:
true_final_uer = data_swissre_economic[data_swissre_economic.index == ending_date][['iso_code', 'unemployment_rate_idx']].rename(columns={'unemployment_rate_idx' : 'true_final_uer'})
true_final_uer

           iso_code  true_final_uer
date
2021-05-09      AUT        1.658571
2021-05-09      BEL        3.721429
2021-05-09      BGR        6.571429
2021-05-09      CHE        1.735714
2021-05-09      CYP        1.514286
2021-05-09      CZE        1.482857
2021-05-09      DEU        1.242857
2021-05-09      DNK        1.480000
2021-05-09      ESP        2.945714
2021-05-09      EST        6.622857
2021-05-09      FIN        3.110000
2021-05-09      FRA        2.131429
2021-05-09      GBR        3.651429
2021-05-09      GRC        3.968571
2021-05-09      HRV        1.697143
2021-05-09      HUN        1.527143
2021-05-09      IRL        4.452857
2021-05-09      ITA        3.534286
2021-05-09      LTU        5.580000
2021-05-09      LUX        0.974286
2021-05-09      LVA        5.031429
2021-05-09      MLT        1.834286
2021-05-09      NLD        3.082857
2021-05-09      NOR        0.537143
2021-05-09      PRT        1.630000
2021-05-09      ROU        1.550000
2021-05-09      SVK        6.642857
2021-05-09      SVN        2.434286
2021-05-09      SWE        2.357143

In [14]:
RL_unemp = RL_unemp[['iso_code', 'final_unemp']]
RL_unemp

   iso_code  final_unemp
0       AUT     0.763020
1       BEL     1.090091
2       BGR     1.634725
3       HRV     1.256106
4       CYP     2.690280
5       CZE     1.823950
6       DNK     0.890274
7       EST     1.249223
8       FIN     1.350706
9       FRA     1.726684
10      DEU     1.167299
11      GRC     5.413748
12      HUN     1.049293
13      IRL     0.226676
14      ITA     2.193571
15      LVA     2.344226
16      LUX     1.137066
17      MLT     1.146280
18      NLD     1.011004
19      PRT     1.150460
20      ROU     1.147015
21      SVK     1.854103
22      SVN     1.566827
23      ESP     1.288939
24      SWE     1.136519
25      GBR     1.617775
26      CHE     0.600839
27      NOR     1.315485
28      LTU     2.462914

In [15]:
RL_unemp_merged = initial_uer.merge(true_final_uer, on='iso_code').merge(RL_unemp, on='iso_code')
RL_unemp_merged['difference_uer'] = RL_unemp_merged['true_final_uer'] - RL_unemp_merged['final_unemp']

In [16]:
# february: 0.065
# december: 0.019
# april: 0.088

(RL_unemp_merged['initial_uer'] - RL_unemp_merged['true_final_uer']).mean().round(3)

0.088

In [22]:
np.array([0.065, 0.019, 0.088]).mean().round(3)

0.057

In [17]:
# february: 1.547
# december: 1.757
# april: 1.481

(RL_unemp_merged['initial_uer'] - RL_unemp_merged['final_unemp']).mean().round(3)

1.481

In [23]:
np.array([1.547, 1.757, 1.481]).mean().round(3)

1.595

In [18]:
RL_unemp_merged = RL_unemp_merged[['iso_code', 'initial_uer', 'difference_uer']].round(3)

In [16]:
result = RL_re_merged.merge(RL_unemp_merged, on='iso_code')

In [17]:
result['country_name'] = result['iso_code'].apply(lambda val : pc.country_alpha2_to_country_name(pc.country_alpha3_to_country_alpha2(val)))

In [18]:
result

,iso_code,initial_re,difference_re,initial_uer,difference_uer,country_name
0,AUT,0.984,0.373,2.487,1.518,Austria
1,BEL,0.940,0.495,3.590,2.407,Belgium
2,BGR,1.039,0.451,6.631,4.291,Bulgaria
3,CHE,0.860,0.423,1.951,1.521,Switzerland
4,CYP,0.828,0.238,1.967,-1.414,Cyprus
5,CZE,1.060,0.361,1.418,1.442,Czechia
6,DEU,0.748,0.266,1.388,0.570,Germany
7,DNK,0.994,0.312,1.602,1.292,Denmark
8,ESP,0.575,0.055,3.566,1.901,Spain
9,EST,1.023,0.327,7.112,3.990,Estonia
10,FIN,1.055,0.412,3.134,0.536,Finland
11,FRA,0.943,0.204,2.457,1.130,France
12,GBR,0.765,0.061,3.871,2.504,United Kingdom
13,GRC,1.055,0.315,5.355,-1.037,Greece
14,HRV,0.777,0.336,2.964,0.997,Croatia
15,HUN,1.052,0.419,1.835,-0.176,Hungary
16,IRL,0.857,0.188,5.097,3.172,Ireland
17,ITA,0.904,0.359,3.561,1.423,Italy
18,LTU,0.817,0.150,5.334,4.295,Lithuania
19,LUX,0.998,0.332,0.964,-0.476,Luxembourg
20,LVA,0.907,0.332,4.892,0.810,Latvia
21,MLT,0.964,0.232,1.672,0.635,Malta
22,NLD,0.901,0.253,2.869,2.198,Netherlands
23,NOR,0.920,0.480,0.669,-0.189,Norway
24,PRT,0.549,0.036,2.220,0.607,Portugal
25,ROU,0.913,0.354,1.833,-0.423,Romania
26,SVK,0.953,0.251,6.643,5.179,Slovakia
27,SVN,0.854,0.346,2.766,2.179,Slovenia
28,SWE,1.007,0.133,2.380,2.103,Sweden

In [19]:
# result[['country_name', 'initial_re', 'difference_re', 'initial_uer', 'difference_uer']].to_excel("february_output.xlsx")

## Average and std

In [24]:
february = pd.read_excel('february_output.xlsx').iloc[2:][['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4']].rename(columns={'Unnamed: 0':'Country', 'Unnamed: 2':'Difference RE (february)', 'Unnamed: 4':'Difference UER (february)'})
december = pd.read_excel('december_output.xlsx').iloc[2:][['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4']].rename(columns={'Unnamed: 0':'Country', 'Unnamed: 2':'Difference RE (december)', 'Unnamed: 4':'Difference UER (december)'})
april = pd.read_excel('april_output.xlsx').iloc[2:][['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4']].rename(columns={'Unnamed: 0':'Country', 'Unnamed: 2':'Difference RE (april)', 'Unnamed: 4':'Difference UER (april)'})

In [25]:
total = february.merge(december, on='Country').merge(april, on='Country')
total['Difference RE (avg)'] = total[['Difference RE (february)', 'Difference RE (december)', 'Difference RE (april)']].mean(axis=1)
total['Difference UER (avg)'] = total[['Difference UER (february)', 'Difference UER (december)', 'Difference UER (april)']].mean(axis=1)
total['Difference RE (std)'] = total[['Difference RE (february)', 'Difference RE (december)', 'Difference RE (april)']].std(axis=1)
total['Difference UER (std)'] = total[['Difference UER (february)', 'Difference UER (december)', 'Difference UER (april)']].std(axis=1)

total[['Country', 'Difference RE (avg)', 'Difference RE (std)', 'Difference UER (avg)', 'Difference UER (std)']]#.to_excel("rl_avg_std_output.xlsx")

,Country,Difference RE (avg),Difference RE (std),Difference UER (avg),Difference UER (std)
0,Austria,0.358667,0.082440,1.447000,0.519154
1,Belgium,0.263000,0.223544,2.616333,0.202399
2,Bulgaria,0.100667,0.311940,4.668667,0.336592
3,Switzerland,0.265333,0.136654,1.347000,0.195786
4,Cyprus,0.194667,0.042525,-1.379000,0.187960
5,Czechia,0.159333,0.192308,0.513000,0.893863
6,Germany,0.154667,0.288583,0.385667,0.269797
7,Denmark,0.208333,0.172674,0.968333,0.354178
8,Spain,0.199333,0.210605,1.967000,0.347730
9,Estonia,0.334333,0.227089,5.092000,0.991546
10,Finland,0.388333,0.119274,1.422667,0.775295
11,France,0.158667,0.187164,1.012667,0.558325
12,United Kingdom,0.028333,0.103925,2.415000,0.345214
13,Greece,0.174000,0.130664,-1.577667,0.617778
14,Croatia,0.127333,0.236781,1.421333,1.247838
15,Hungary,0.184000,0.215056,0.268333,0.385007
16,Ireland,0.128333,0.192563,3.969333,0.704961
17,Italy,0.225667,0.120952,1.313667,0.125257
18,Lithuania,0.187000,0.216880,3.965667,0.741081
19,Luxembourg,0.428333,0.083680,-0.533000,0.401546
20,Latvia,0.309000,0.087790,1.596667,0.974650
21,Malta,0.094333,0.176761,0.678333,0.039400
22,Netherlands,0.127333,0.118348,2.284000,0.265654
23,Norway,0.377667,0.277057,-0.216333,0.548511
24,Portugal,0.355000,0.282809,0.960667,0.725339
25,Romania,0.252000,0.091280,-0.365000,0.740705
26,Slovakia,0.227667,0.198034,4.815000,0.351721
27,Slovenia,0.330667,0.120732,1.746000,0.761264
28,Sweden,0.194333,0.053715,1.789333,0.493074