In [20]:
import pandas as pd
import numpy as np
import yaml
from datetime import datetime, timedelta

In [21]:
data_swissre = pd.read_csv('data/final_data.csv', parse_dates=['date'])
data_swissre

,date,name,country_id,cases,deaths,recovered,new_cases,new_deaths,total_population_all,total_population_below_1,...,Sinopharm/Wuhan,Pfizer/BioNTech,Johnson&Johnson,Oxford/AstraZeneca,CanSino,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines_available
0,2020-03-12,Aruba,AW,2,0.0,2.0,NaN,0.0,104341.0,987.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
1,2020-03-13,Aruba,AW,2,0.0,2.0,0.0,0.0,104341.0,987.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
2,2020-03-14,Aruba,AW,2,0.0,2.0,0.0,0.0,104341.0,987.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
3,2020-03-15,Aruba,AW,2,0.0,2.0,0.0,0.0,104341.0,987.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
4,2020-03-16,Aruba,AW,2,0.0,2.0,0.0,0.0,104341.0,987.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73308,2021-04-17,Zimbabwe,ZW,37699,1552.0,35005.0,165.0,1.0,14645473.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.021297,0.018852,0.002445,0.000870,1
73309,2021-04-18,Zimbabwe,ZW,37751,1553.0,35019.0,52.0,1.0,14645473.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.021471,0.019022,0.002449,0.000887,1
73310,2021-04-19,Zimbabwe,ZW,37859,1553.0,35031.0,108.0,0.0,14645473.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.021644,0.019157,0.002487,0.000804,1
73311,2021-04-20,Zimbabwe,ZW,37875,1554.0,35046.0,16.0,1.0,14645473.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
73312,2021-04-21,Zimbabwe,ZW,37980,1555.0,35065.0,105.0,1.0,14645473.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1

In [23]:
data_swissre[(data_swissre['iso_code'] == 'CHE')]

,date,name,country_id,cases,deaths,recovered,new_cases,new_deaths,total_population_all,total_population_below_1,...,Sinopharm/Wuhan,Pfizer/BioNTech,Johnson&Johnson,Oxford/AstraZeneca,CanSino,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines_available
12430,2020-02-25,Switzerland,CH,1,0.0,1.0,1.0,0.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
12431,2020-02-26,Switzerland,CH,1,0.0,1.0,0.0,0.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
12432,2020-02-27,Switzerland,CH,8,0.0,8.0,7.0,0.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
12433,2020-02-28,Switzerland,CH,12,0.0,12.0,4.0,0.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
12434,2020-02-29,Switzerland,CH,18,0.0,18.0,6.0,0.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12847,2021-04-17,Switzerland,CH,632399,10505.0,566677.0,0.0,2.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.243321,0.153247,0.090074,0.004775,1
12848,2021-04-18,Switzerland,CH,632399,10508.0,566676.0,0.0,3.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,0.251426,0.159403,0.092023,0.004868,1
12849,2021-04-19,Switzerland,CH,637304,10521.0,570156.0,4905.0,13.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
12850,2021-04-20,Switzerland,CH,639445,10532.0,570158.0,2141.0,11.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
12851,2021-04-21,Switzerland,CH,642131,10546.0,572831.0,2686.0,14.0,8319769.0,86914.0,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1

In [24]:
with open('config/swissre_features.yaml', 'r', encoding='utf-8') as file:
    swissre_features = yaml.load(file, Loader=yaml.FullLoader)

In [25]:
# Using as economic indicator unemployment rate. Interpolating the quarterly data.
unemp = data_swissre[['date', 'iso_code', 'unemployment_rate_2019_12_31', 'unemployment_rate_2020_03_31', 'unemployment_rate_2020_06_30', 'unemployment_rate_2020_09_30', 'unemployment_rate_2020_12_31', 'unemployment_rate_2021_03_31', 'unemployment_rate_2021_06_30']]

In [27]:
unemp = unemp[~unemp.unemployment_rate_2020_03_31.isna()]
unemp

,date,iso_code,unemployment_rate_2019_12_31,unemployment_rate_2020_03_31,unemployment_rate_2020_06_30,unemployment_rate_2020_09_30,unemployment_rate_2020_12_31,unemployment_rate_2021_03_31,unemployment_rate_2021_06_30
2049,2020-01-26,ARE,2.68,2.61,2.87,2.8,2.70,2.70,2.69
2050,2020-01-27,ARE,2.68,2.61,2.87,2.8,2.70,2.70,2.69
2051,2020-01-28,ARE,2.68,2.61,2.87,2.8,2.70,2.70,2.69
2052,2020-01-29,ARE,2.68,2.61,2.87,2.8,2.70,2.70,2.69
2053,2020-01-30,ARE,2.68,2.61,2.87,2.8,2.70,2.70,2.69
...,...,...,...,...,...,...,...,...,...
72911,2021-04-17,ZMB,11.49,11.16,10.82,10.5,10.56,11.09,11.68
72912,2021-04-18,ZMB,11.49,11.16,10.82,10.5,10.56,11.09,11.68
72913,2021-04-19,ZMB,11.49,11.16,10.82,10.5,10.56,11.09,11.68
72914,2021-04-20,ZMB,11.49,11.16,10.82,10.5,10.56,11.09,11.68
72915,2021-04-21,ZMB,11.49,11.16,10.82,10.5,10.56,11.09,11.68

In [28]:
eco = ['unemployment_rate_2020_03_31', 'unemployment_rate_2020_06_30', 'unemployment_rate_2020_09_30', 'unemployment_rate_2020_12_31', 'unemployment_rate_2021_03_31', 'unemployment_rate_2021_06_30']
#for i, indicator in enumerate(reversed(eco[1:])):
    #unemp[indicator] = unemp[indicator] - unemp[eco[-(i+2)]]
    
for indicator in eco:
    unemp[indicator] = unemp[indicator] - unemp['unemployment_rate_2019_12_31']

In [29]:
unemp['unemployment_rate_2019_12_31'] = 0
unemp

,date,iso_code,unemployment_rate_2019_12_31,unemployment_rate_2020_03_31,unemployment_rate_2020_06_30,unemployment_rate_2020_09_30,unemployment_rate_2020_12_31,unemployment_rate_2021_03_31,unemployment_rate_2021_06_30
2049,2020-01-26,ARE,0,-0.07,0.19,0.12,0.02,0.02,0.01
2050,2020-01-27,ARE,0,-0.07,0.19,0.12,0.02,0.02,0.01
2051,2020-01-28,ARE,0,-0.07,0.19,0.12,0.02,0.02,0.01
2052,2020-01-29,ARE,0,-0.07,0.19,0.12,0.02,0.02,0.01
2053,2020-01-30,ARE,0,-0.07,0.19,0.12,0.02,0.02,0.01
...,...,...,...,...,...,...,...,...,...
72911,2021-04-17,ZMB,0,-0.33,-0.67,-0.99,-0.93,-0.40,0.19
72912,2021-04-18,ZMB,0,-0.33,-0.67,-0.99,-0.93,-0.40,0.19
72913,2021-04-19,ZMB,0,-0.33,-0.67,-0.99,-0.93,-0.40,0.19
72914,2021-04-20,ZMB,0,-0.33,-0.67,-0.99,-0.93,-0.40,0.19
72915,2021-04-21,ZMB,0,-0.33,-0.67,-0.99,-0.93,-0.40,0.19

In [30]:
iso_list = unemp.iso_code.unique()
dates = list(pd.date_range('2020-03-31', '2021-06-30').strftime('%Y-%m-%d'))
dates_total = dates*len(iso_list)
iso_list_total = list(np.array([[iso_code]*len(dates) for iso_code in iso_list]).flatten())
unemployment_rate_idx= [np.nan for i in iso_list_total]

In [31]:
df = pd.DataFrame({'iso_code': iso_list_total, 'date':dates_total, 'unemployment_rate_idx':unemployment_rate_idx})

In [32]:
for iso_code in iso_list:
    #df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2019-12-31'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2019_12_31'].values[0], df['unemployment_rate_idx'])
    df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2020-03-31'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2020_03_31'].values[0], df['unemployment_rate_idx'])
    df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2020-06-30'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2020_06_30'].values[0], df['unemployment_rate_idx'])
    df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2020-09-30'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2020_09_30'].values[0], df['unemployment_rate_idx'])
    df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2020-12-31'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2020_12_31'].values[0], df['unemployment_rate_idx'])
    df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2021-03-31'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2021_03_31'].values[0], df['unemployment_rate_idx'])
    df['unemployment_rate_idx'] = np.where((df['iso_code']== iso_code)&(df['date'] == '2021-06-30'), unemp[unemp['iso_code'] == iso_code]['unemployment_rate_2021_06_30'].values[0], df['unemployment_rate_idx'])

In [33]:
df['unemployment_rate_idx'] = df['unemployment_rate_idx'].interpolate(method='linear')
df['date'] =pd.to_datetime(df['date'])

In [34]:
final = data_swissre.merge(df, on=['iso_code', 'date'])
final[final['iso_code'] == 'ITA']

,date,name,country_id,cases,deaths,recovered,new_cases,new_deaths,total_population_all,total_population_below_1,...,Pfizer/BioNTech,Johnson&Johnson,Oxford/AstraZeneca,CanSino,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines_available,unemployment_rate_idx
16251,2020-03-31,Italy,IT,105792,12428.0,15729.0,4053.0,837.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.470000
16252,2020-04-01,Italy,IT,110574,13155.0,16847.0,4782.0,727.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.484066
16253,2020-04-02,Italy,IT,115242,13915.0,18278.0,4668.0,760.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.498132
16254,2020-04-03,Italy,IT,119827,14681.0,19758.0,4585.0,766.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.512198
16255,2020-04-04,Italy,IT,124632,15362.0,20996.0,4805.0,681.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.526264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,2021-04-17,Italy,IT,3857443,116676.0,3235459.0,15364.0,310.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.247900,0.174988,0.072912,0.004975,1,3.582637
16634,2021-04-18,Italy,IT,3870131,116927.0,3248593.0,12688.0,251.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.251809,0.178019,0.073790,0.005064,1,3.580440
16635,2021-04-19,Italy,IT,3878994,117243.0,3268262.0,8863.0,316.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.256780,0.181576,0.075204,0.005155,1,3.578242
16636,2021-04-20,Italy,IT,3891063,117633.0,3290715.0,12069.0,390.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.261722,0.185083,0.076639,0.005195,1,3.576044
16637,2021-04-21,Italy,IT,3904899,117997.0,3311267.0,13836.0,364.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,1,3.573846

In [35]:
quarters = [('2020-03-31', '2020-06-30'), ('2020-06-30', '2020-09-30'), 
            ('2020-09-30', '2020-12-31'), ('2020-12-31', '2021-03-31'), 
            ('2021-03-31', '2021-06-30')]

In [36]:
weights_df = pd.DataFrame({'date':dates, 'weight':[1 for i in range(len(dates))]})
weights_df['date'] = pd.to_datetime(weights_df['date']).dt.date
epsilon = 1e-4
for quarter in quarters:
    start = datetime.strptime(quarter[0], '%Y-%m-%d').date()
    end = datetime.strptime(quarter[1], '%Y-%m-%d').date()
    interval_size = (end-start).days
    denominator = interval_size/2
    for i in range(interval_size):
        w = (np.abs(denominator-i) / denominator) + epsilon
        weights_df['weight'] = np.where(weights_df['date'] == start + timedelta(days=i), w, weights_df['weight'])

In [37]:
final['date'] = pd.to_datetime(final['date']).dt.date
final[final['iso_code'] == 'ITA']

,date,name,country_id,cases,deaths,recovered,new_cases,new_deaths,total_population_all,total_population_below_1,...,Pfizer/BioNTech,Johnson&Johnson,Oxford/AstraZeneca,CanSino,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines_available,unemployment_rate_idx
16251,2020-03-31,Italy,IT,105792,12428.0,15729.0,4053.0,837.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.470000
16252,2020-04-01,Italy,IT,110574,13155.0,16847.0,4782.0,727.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.484066
16253,2020-04-02,Italy,IT,115242,13915.0,18278.0,4668.0,760.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.498132
16254,2020-04-03,Italy,IT,119827,14681.0,19758.0,4585.0,766.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.512198
16255,2020-04-04,Italy,IT,124632,15362.0,20996.0,4805.0,681.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.526264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,2021-04-17,Italy,IT,3857443,116676.0,3235459.0,15364.0,310.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.247900,0.174988,0.072912,0.004975,1,3.582637
16634,2021-04-18,Italy,IT,3870131,116927.0,3248593.0,12688.0,251.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.251809,0.178019,0.073790,0.005064,1,3.580440
16635,2021-04-19,Italy,IT,3878994,117243.0,3268262.0,8863.0,316.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.256780,0.181576,0.075204,0.005155,1,3.578242
16636,2021-04-20,Italy,IT,3891063,117633.0,3290715.0,12069.0,390.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,0.261722,0.185083,0.076639,0.005195,1,3.576044
16637,2021-04-21,Italy,IT,3904899,117997.0,3311267.0,13836.0,364.0,60730582.0,488120.0,...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,1,3.573846

In [38]:
final = final.merge(weights_df, on='date')
final

,date,name,country_id,cases,deaths,recovered,new_cases,new_deaths,total_population_all,total_population_below_1,...,Johnson&Johnson,Oxford/AstraZeneca,CanSino,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines_available,unemployment_rate_idx,weight
0,2020-03-31,United Arab Emirates,AE,664,6.0,658.0,53.0,1.0,8270684.0,96857.0,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0,-0.070000,1.000100
1,2020-03-31,Argentina,AR,966,24.0,942.0,0.0,0.0,43417765.0,754596.0,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0,0.270000,1.000100
2,2020-03-31,Australia,AU,4707,20.0,4687.0,150.0,1.0,23781169.0,303398.0,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0,0.140000,1.000100
3,2020-03-31,Austria,AT,10182,128.0,10054.0,564.0,20.0,8739806.0,84874.0,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0,0.560000,1.000100
4,2020-03-31,Belgium,BE,16987,1378.0,15609.0,1683.0,208.0,11265834.0,123040.0,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0,0.620000,1.000100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37130,2021-02-22,Uzbekistan,UZ,79681,622.0,78171.0,27.0,0.0,30499618.0,639665.0,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,1,0.867333,0.177878
37131,2021-02-22,Venezuela,VE,136068,1316.0,128059.0,465.0,4.0,28515829.0,NaN,...,0.0,0.0,0.0,0.000006,0.000006,0.0,0.000001,1,3.479111,0.177878
37132,2021-02-22,Viet Nam,VN,2392,35.0,1711.0,9.0,0.0,96462108.0,NaN,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,1,0.380556,0.177878
37133,2021-02-22,South Africa,ZA,1504588,49150.0,1412710.0,792.0,97.0,55291225.0,1157385.0,...,1.0,0.0,0.0,0.000417,0.000417,0.0,0.000070,1,1.264667,0.177878
37134,2021-02-22,Zambia,ZM,75027,1031.0,68457.0,524.0,11.0,17861034.0,NaN,...,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,1,-0.617889,0.177878

In [40]:
final[final['iso_code'] == 'CHE']

,date,name,country_id,cases,deaths,recovered,new_cases,new_deaths,total_population_all,total_population_below_1,...,Johnson&Johnson,Oxford/AstraZeneca,CanSino,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines_available,unemployment_rate_idx,weight
14,2020-03-31,Switzerland,CH,16108,373.0,15735.0,696.0,78.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.590000,1.000100
110,2020-04-01,Switzerland,CH,17070,378.0,2379.0,962.0,5.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.606264,0.978122
206,2020-04-02,Switzerland,CH,18194,432.0,3484.0,1124.0,54.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.622527,0.956144
302,2020-04-03,Switzerland,CH,19227,484.0,4859.0,1033.0,52.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.638791,0.934166
398,2020-04-04,Switzerland,CH,20201,540.0,6237.0,974.0,56.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.655055,0.912188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36670,2021-04-18,Switzerland,CH,632399,10508.0,566676.0,0.0,3.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.251426,0.159403,0.092023,0.004868,1,1.770330,0.604496
36766,2021-04-19,Switzerland,CH,637304,10521.0,570156.0,4905.0,13.0,8319769.0,86914.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1,1.768681,0.582518
36862,2021-04-20,Switzerland,CH,639445,10532.0,570158.0,2141.0,11.0,8319769.0,86914.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1,1.767033,0.560540
36958,2021-04-21,Switzerland,CH,642131,10546.0,572831.0,2686.0,14.0,8319769.0,86914.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1,1.765385,0.538562
37053,2021-02-22,Switzerland,CH,550224,9907.0,497636.0,2449.0,20.0,8319769.0,86914.0,...,0.0,0.0,0.0,0.082508,0.060802,0.021705,0.002245,1,1.894556,0.177878

In [41]:
final.to_csv('./economic_weighted.csv', index=False)